[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest = "*"
coverage = "*"
flake8-html = "*"
pylint = "*"
pytest-django = "*"
pytest-cov = "*"
psycopg2 = "*"
sentry-sdk = "==1.4.3"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pytest-postgresql = "*"
django-filter = "*"
markdown = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.9"
